 .u-section-1 {
  background-image: url("images/dddd-min.jpg");
  background-position: 68.15% 72.19%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-group-1 {
  width: 682px;
  min-height: 380px;
  margin: 215px 0 60px auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  line-height: 0.8;
  text-transform: uppercase;
  animation-duration: 1000ms;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  margin: 39px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 497px;
  margin: 39px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 89px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 154px;
  padding: 9px 45px 11px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }
  .u-section-1 .u-group-1 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-group-1 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: -4px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 135px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 57px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  text-transform: none;
  font-weight: 400;
  margin: 40px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 20px 471px 0 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 47px auto 53px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 228px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 0.95rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 0.95rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 0.95rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 271px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-bottom: 80px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 188px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 749px;
}

.u-section-3 .u-shape-1 {
  width: 832px;
  height: 629px;
  background-image: none;
  margin: 60px 0 60px auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1095px;
  margin: -578px auto 111px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 527px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 527px;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 0 30px;
}

.u-section-3 .u-group-1 {
  width: 526px;
  min-height: 312px;
  margin: 0 auto 0 -270px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 0% 50%;
  }

  .u-section-3 .u-group-1 {
    width: 489px;
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-3 .u-shape-1 {
    height: 568px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 688px;
    margin: -524px 0 99px auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-1 {
    width: 504px;
    min-height: 426px;
    margin-left: -338px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 465px;
    margin-right: 32px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
  }

  .u-section-3 .u-group-1 {
    width: 394px;
    min-height: 337px;
    margin-top: -406px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-3 .u-shape-1 {
    height: 481px;
    margin-top: 44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 295px;
    margin-top: -459px;
    margin-right: auto;
    margin-bottom: 44px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 270px;
    min-height: 374px;
    margin-top: -318px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 600px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 30px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 500px;
  grid-auto-columns:100% ;
  grid-gap: 13px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 5px 10px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 5px 10px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 5px 10px;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 5px 10px;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 5px 10px;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-11 {
  font-size: 1rem;
  line-height: 1.8;
  background-image: none;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.50003px));
    min-height: 500px;
}}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.50003px));
    min-height: 600px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 54px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 40px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 40px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 40px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 40px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-right: 40px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 300px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 202px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-line-1 {
  width: 57px;
  transform-origin: left center;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 202px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-line-2 {
  width: 57px;
  transform-origin: left center;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 202px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-line-3 {
  width: 57px;
  transform-origin: left center;
  height: 3px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-line-1 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-line-2 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-line-3 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-5 .u-line-1 {
    width: 36px;
  }

  .u-section-5 .u-line-2 {
    width: 36px;
  }

  .u-section-5 .u-line-3 {
    width: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 34px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-line-2 {
    width: 34px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-line-3 {
    width: 34px;
  }
}
}.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 80px auto 0;
}

.u-section-6 .u-text-2 {
  width: 679px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 20px 0 55px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 386px;
  grid-gap: 10px;
}

.u-section-6 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 281px;
  height: 113px;
  margin: 0 auto;
}

.u-section-6 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 281px;
  height: 113px;
  margin: 0 auto;
}

.u-section-6 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 281px;
  height: 113px;
  margin: 0 auto;
}

.u-section-6 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  width: 281px;
  height: 113px;
  margin: 0 auto;
}

.u-section-6 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  width: 281px;
  height: 113px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 70px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding: 16px 10px;
  }

  .u-section-6 .u-image-1 {
    width: 353px;
    height: 93px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 16px 10px;
  }

  .u-section-6 .u-image-2 {
    width: 353px;
    height: 93px;
  }

  .u-section-6 .u-container-layout-3 {
    padding: 16px 10px;
  }

  .u-section-6 .u-image-3 {
    width: 353px;
    height: 93px;
  }

  .u-section-6 .u-container-layout-4 {
    padding: 16px 10px;
  }

  .u-section-6 .u-image-4 {
    width: 353px;
    height: 93px;
  }

  .u-section-6 .u-container-layout-5 {
    padding: 16px 10px;
  }

  .u-section-6 .u-image-5 {
    width: 353px;
    height: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-3 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-4 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-5 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}