.u-section-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0;
}.u-section-2 .u-sheet-1 {
  min-height: 1168px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 947px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-text-3 {
  margin-top: 12px;
  margin-bottom: 0;
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 240px;
  height: 240px;
  object-position: 28.54% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-text-5 {
  margin-top: 12px;
  margin-bottom: 0;
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  object-position: 50% 94.17%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-text-7 {
  margin-top: 12px;
  margin-bottom: 0;
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  object-position: 50% 94.17%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-text-9 {
  margin-top: 12px;
  margin-bottom: 0;
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  object-position: 50% 94.17%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-text-11 {
  margin-top: 12px;
  margin-bottom: 0;
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  object-position: 50% 94.17%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-text-13 {
  margin-top: 12px;
  margin-bottom: 0;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 781px;
  }

  .u-section-2 .u-text-2 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .u-section-2 .u-text-4 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .u-section-2 .u-list-item-3 {
    background-position: 50% 94.17%;
  }

  .u-section-2 .u-text-6 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .u-section-2 .u-list-item-4 {
    background-position: 50% 94.17%;
  }

  .u-section-2 .u-text-8 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .u-section-2 .u-list-item-5 {
    background-position: 50% 94.17%;
  }

  .u-section-2 .u-text-10 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .u-section-2 .u-list-item-6 {
    background-position: 50% 94.17%;
  }

  .u-section-2 .u-text-12 {
    text-transform: uppercase;
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1346px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}