 .u-section-5 .u-sheet-1 {
  min-height: 750px;
}

.u-section-5 .u-text-1 {
  font-size: 2.5rem;
  margin: 40px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  margin: 30px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }
}
@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 800px;
  }
  .u-section-5 .u-text-1 {
    font-size: 2rem;
    margin: 50px auto 0;
  }
}
@media (max-width: 767px){
  .u-section-5 .u-sheet-1 {
    min-height: 890px;
  }
}
@media (max-width: 575px) {
   .u-section-5 .u-sheet-1 {
    min-height: 1100px;
  }
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}